#all {
	width: 352px;
	height: 352px;
	position: absolute;
	left: 0;
	right: 0;
	top: 30px;
	margin: auto;
}
.block {
	width: 86px;
	height: 86px;
	border-style: solid;
	border-width: 1px;
	position: absolute;
	background-image: url(image/panda.jpg);
	background-repeat: no-repeat;
	transition-duration:0.1s;
	border-top-color: #666666;
	border-left-color: #666666;
	border-bottom-color: #CCCCCC;
	border-right-color: #CCCCCC;
}
.big {
	transform:scale(1.05); 
	z-index: 16;
}
.button {
	position: absolute;
	top: 3px; 
	margin: auto;
	width: 83px;
	height: 30px;
	border-color: #CCCCFF;
	border-width: 2px;
	border-style: solid;
}
.button p, #score_all p, #score p{
	text-align: center;
	line-height: 30px;
	font-size: 30px;
	margin: 0;
	font-family: "Comic Sans MS";
}
#start {
	left: 10px;
	background-color: #99CC00;
}
#end {
	left: 200px;
	background-color: #CC0033;
}
#under {
	position: absolute;
	top: 450px;
	left: 0;
	right: 0;
	margin: auto;
	width: 300px;
	height: 40px;
}
#score_all {
	width: 150px;
	height: 150px;
	position: absolute;
	top: 30px;
}
#score {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 70px;
	height: 30px;
	width: 100px;
	text-align: center;
	font-size: 30px;
	line-height: 30px;
	font-family: "Comic Sans MS";
	background-color: #CCCCFF;
}
#aller {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	width: 700px;
	height: 500px;
}
